html
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        title Entregable - Pug
    
    body
        h1 Vista de productos

        table(class="table table-stripped")
            tr 
                th ID
                th Nombre
                th Precio
                th Foto 
            
            each producto in productos
                tr 
                    th= producto.id 
                    th= producto.title
                    th= producto.price 
                    th 
                        img(src=producto.thumbnail)
            else
                th(class="alert alert-warning") No hay productos